<div class="modal-header">
    <div class="modal-title u-text-center u-text-2x">Period Selection</div>
</div>
<div class="modal-body">
    <form class="form-inline u-margin-b-1x u-margin-t-1x u-pad-l-4x u-pad-r-4x">
        <div class="u-flex">
            <div class="u-w-45 u-text-center">
                <i class="fa fa-calendar u-text-8x u-margin-b-2x u-margin-t-2x u-text-white-base"></i>
                <label class="u-w-100 u-text-primary-base">From Date :</label>
                <input type="text"
                       class="form-control input-black u-text-center"
                       uib-datepicker-popup
                       ng-model="$ctrl.prop.datepicker.fromDate.date"
                       ng-click="$ctrl.prop.datepicker.fromDate.isOpen = true"
                       is-open="$ctrl.prop.datepicker.fromDate.isOpen">
            </div>
            <div class="u-w-10 u-flex u-flex-center u-flex-middle u-text-8x u-text-white-base"> - </div>
            <div class="u-w-45 u-text-center">
                <i class="fa fa-calendar u-text-8x u-margin-b-2x u-margin-t-2x u-text-white-base"></i>
                <label class="u-w-100 u-text-primary-base">To Date :</label>
                <input type="text"
                       class="form-control input-black u-text-center"
                       uib-datepicker-popup
                       ng-model="$ctrl.prop.datepicker.toDate.date"
                       ng-click="$ctrl.prop.datepicker.toDate.isOpen = true"
                       is-open="$ctrl.prop.datepicker.toDate.isOpen">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-xl btn-danger u-text-black-base" type="button" ng-click="$ctrl.close()">CANCEL</button>
    <button class="btn btn-xl btn-primary u-text-black-base" type="button" ng-click="$ctrl.close()">SUBMIT</button>
</div>
