.btn {
  border: vh(2px) solid transparent;
  padding: vh(6px) vh(6px * 6);
  font-size: vh(20px);
  font-family: font(proxima, regular);
  border-radius: vh(4px) vw(4px);
  text-transform: uppercase;
  &:hover,
  &:active,
  &:focus {
    outline: 0;
  }
}

.btn-primary {
  @include button-variant(color(white, base), $btn-primary-bg, $btn-primary-border);
}

.btn-danger {
  @include button-variant(color(white, base), $btn-danger-bg, $btn-danger-border);
}

.btn-sm, .btn-group-sm > .btn {
  padding: vh(5px) vw(10px);
}

.btn-xl, .btn-group-xl > .btn {
  font-size: vh(24px);
  font-family: font(proxima, semibold);
  padding: vh(10px) vw(80px);
}
