.modal {
  &.fade .modal-dialog {
    @include translate(0, 15%);
  }
}

.modal-content {
  padding: vh(30px);
  color: color(black, base);
  background: color(black, base);
  border: vh(2px) solid color(white, darker);
  .fa-window-close {
    position: absolute;
    top: vh(5px);
    right: vh(5px);
    color: #cecece;
    &:hover,
    &:active,
    &:focus {
      color: $brand-primary;
    }
  }
}

.modal-header {
  padding: 0;
  padding-bottom: vh(10px);
  //border-bottom: vh(2px) solid $gray-lighter;
  border-bottom: 0;
}

.modal-title {
  font-family: font(proxima, regular);
  text-transform: uppercase;
  color: $brand-primary;
  line-height: 1;
}

.modal-body {
  padding: vh(10px) 0;
}

.modal-footer {
  text-align: center;
  border-top: 0;
  .btn + .btn {
    margin-left: vw(5px);
    margin-bottom: 0;
  }
}
