.progress {
  border-radius: 0;
  box-shadow: none;
  &.progress-white {
    background-color: transparent;
    .progress-bar {
      color: color(black, base);
      @include progress-bar-variant($progress-bar-white-bg);
    }
  }
  &.progress-positive {
    background-color: transparent;
    .progress-bar {
      @include progress-bar-variant($progress-bar-positive-bg);
    }
  }
  &.progress-negative {
    background-color: transparent;
    .progress-bar {
      @include progress-bar-variant($progress-bar-negative-bg);
    }
  }
  &.progress-netral {
    background-color: transparent;
    .progress-bar {
      @include progress-bar-variant($progress-bar-netral-bg);
    }
  }
}

.progress--small {
  height: auto;
  .progress-bar {
    height: auto;
    font-size: vh(12px);
    line-height: vh(18px);
  }
}

.progress-bar {
  font-family: font(proxima, regular);
  overflow: hidden;
  min-width: 1px;
}
