<c-soundalert play="$ctrl.systemalert.state.formalMedia" volume="50"></c-soundalert>
<div class="c-panel">
    <div class="c-panel__container">
        <!-- main -->
        <div class="c-panel__main u-pad-b-1x">
            <div class="c-box c-box--content-top c-box--h-100 c-box--align-left" ng-class="{'s-is-alert': $ctrl.systemalert.state.formalMedia}">
                <div class="c-box__title">EARLY WARNING SYSTEM</div>
                <div class="c-chart">
                    <canvas class="chart chart-line"
                            chart-data="$ctrl.model.mention.chart.data"
                            chart-dataset-override="$ctrl.model.mention.chart.datasets"
                            chart-options="$ctrl.model.mention.chart.options"
                            chart-labels="$ctrl.model.mention.chart.labels"
                            chart-series="$ctrl.model.mention.chart.series"
                            chart-click="$ctrl.onLineChartClick">
                    </canvas>
                </div>
            </div>
        </div>
        <!-- main -->

        <!-- right -->
        <div class="c-panel__right u-pad-b-1x">
            <div class="c-panel__box-2 u-text-uc c-box c-box--content-top c-box--align-left c-box--h-100">
                <div class="c-box__title">ISSUE LIFE CYCLE</div>
                <ul class="c-gauge-list">
                    <li class="c-gauge-list__item">
                        <canvas class="c-gauge"></canvas>
                        <div>POTENTIAL</div>
                    </li>
                    <li class="c-gauge-list__item">
                        <canvas class="c-gauge"></canvas>
                        <div>EMERGING</div>
                    </li>
                    <li class="c-gauge-list__item">
                        <canvas class="c-gauge"></canvas>
                        <div>CURRENT</div>
                    </li>
                    <li class="c-gauge-list__item">
                        <canvas class="c-gauge"></canvas>
                        <div>CRISIS</div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /right -->

        <!-- bottom -->
        <div class="c-panel__bottom">
            <div class="row row-inside">
                <div class="col-sm-3">
                    <div class="c-panel__box c-box c-box--content-top u-text-uc c-notification" ng-class="{'s-is-alert': $ctrl.systemalert.state.socialMention}">
                        <div class="c-box__title u-margin-t-2x">SOCIAL MENTION ALERT</div>
                        <div class="c-notification__icon u-margin-t-2x">
                            <img class="c-notification__img" src="assets/images/icons/alerts@115x100/social-white.png">
                            <img class="c-notification__img-hover" src="assets/images/icons/alerts@115x100/social-red.png">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="c-panel__box c-box c-box--content-top u-text-uc c-notification" ng-class="{'s-is-alert': $ctrl.systemalert.state.keyInfluencer}">
                        <div class="c-box__title u-margin-t-2x">KEY INFLUENCER ALERT</div>
                        <div class="c-notification__icon u-margin-t-2x">
                            <img class="c-notification__img" src="assets/images/icons/alerts@115x100/influencer-white.png">
                            <img class="c-notification__img-hover" src="assets/images/icons/alerts@115x100/influencer-red.png">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="c-panel__box c-box c-box--content-top u-text-uc c-notification" ng-class="{'s-is-alert': $ctrl.systemalert.state.formalMedia}">
                        <div class="c-box__title u-margin-t-2x">FORMAL MEDIA ALERT</div>
                        <div class="c-notification__icon u-margin-t-2x">
                            <img class="c-notification__img" src="assets/images/icons/alerts@115x100/media-white.png">
                            <img class="c-notification__img-hover" src="assets/images/icons/alerts@115x100/media-red.png">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="c-panel__box c-box c-box--content-top u-text-uc" ng-click="$ctrl.generateReport()">
                        <div class="c-box__title u-margin-t-2x">AUTO-GENERATED REPORT</div>
                        <div class="c-notification__icon u-margin-t-2x">
                            <img class="c-notification__img" src="assets/images/icons/alerts@115x100/report-white.png">
                            <img class="c-notification__img-hover" src="assets/images/icons/alerts@115x100/report-red.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /bottom -->
    </div>
</div>
