
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <title></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="x-apple-disable-message-reformatting">
  <style type="text/css">
    #outlook a {
  padding: 0;
}

.ReadMsgBody {
  width: 100%;
}

.ExternalClass {
  width: 100%;
}

.ExternalClass * {
  line-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

table,
td {
  border-collapse: collapse;
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
}

img {
  border: 0;
  height: auto;
  line-height: 100%;
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
}

p, ul {
  display: block;
  margin: 0;
}

@media only screen and (min-width:480px) {
  .email-col-17 {width: 17%!important;}
  .email-col-25 {width: 25%!important;}
  .email-col-33 {width: 33%!important;}
  .email-col-50 {width: 50%!important;}
  .email-col-67 {width: 67%!important;}
  .email-col-100 {width: 100%!important;}
}

@media only screen and (max-width:480px) {
  img.fullwidth { max-width: 100% !important; }
}

  </style>
<!--[if mso]>
<xml>
  <o:OfficeDocumentSettings>
    <o:AllowPNG/>
    <o:PixelsPerInch>96</o:PixelsPerInch>
  </o:OfficeDocumentSettings>
</xml>
<![endif]-->
<!--[if lte mso 11]>
<style type="text/css">
  .outlook-group-fix {
    width:100% !important;
  }
</style>
<![endif]-->

<!--[if !mso]><!--><link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<style type="text/css">
  @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
</style><!--<![endif]-->

</head>

<body width="100%" bgcolor="#f2f2f2" style="margin: 0; mso-line-height-rule: exactly; background-color: #f2f2f2;">
  <div style="background-color: #f2f2f2; font-family: arial,helvetica,sans-serif;">
  
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="margin: 0; padding: 0">
  <tr>
    <td align="center" valign="top" bgcolor="" style="padding: 25px 10px 0px; background-color: rgba(255,255,255,0);">
      <!--[if mso | IE]>
      <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="650" align="center" style="width:650px;"><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->
      <div style="margin:0px auto;max-width:650px;">
        <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;" align="center" border="0">
          <tbody>
            <tr>
              <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;" bgcolor="#ffffff">
                <!--[if mso | IE]>
                <table role="presentation" border="0" cellpadding="0" cellspacing="0"><tr><td style="vertical-align:top;width:650px;">
  <![endif]-->
  <div class="email-col-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;">
    
<table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
  <tbody>
    <tr>
      <td style="overflow-wrap: break-word;padding:30px 20px;" align="left">
        
<table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td style="padding-right: 0px; padding-left: 0px;" align="center">
      
      <!-- <img align="center" border="0" src="images/image-1.jpeg" alt="Image" title="Image" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;width: 100%;max-width: 610px;" width="610"> -->
      <img align="center" border="0" src="http://i65.tinypic.com/2d1vber.jpg" alt="Image" title="Image" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;width: 100%;max-width: 610px;" width="610">
      
    </td>
  </tr>
</table>

      </td>
    </tr>
  </tbody>
</table>

  </div>
  <!--[if mso | IE]>
  </td>
</tr></table>
                <![endif]-->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--[if mso | IE]>
      </td></tr></table>
      <![endif]-->
    </td>
  </tr>
</table>

<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="margin: 0; padding: 0">
  <tr>
    <td align="center" valign="top" bgcolor="" style="padding: 0px 10px; background-color: rgba(255,255,255,0);">
      <!--[if mso | IE]>
      <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="650" align="center" style="width:650px;"><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->
      <div style="margin:0px auto;max-width:650px;">
        <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;" align="center" border="0">
          <tbody>
            <tr>
              <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px; background-image: url('https://emailmonster-production.s3.amazonaws.com/1515408655285-412872.jpg'); background-repeat: repeat; background-position: center top;" bgcolor="#454545">
                <!--[if mso | IE]>
                <table role="presentation" border="0" cellpadding="0" cellspacing="0"><tr><td style="vertical-align:top;width:650px;">
  <![endif]-->
  <div class="email-col-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;">
    
<table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
  <tbody>
    <tr>
      <!-- <td style="overflow-wrap: break-word;padding:34px;" align="left"> -->
      <td style="overflow-wrap: break-word;padding:34px;" align="left">
        
  <!-- <div style="color: #ff2e2e; line-height: 750%; text-align: center; font-family: inherit;"> -->
  <div style="color: #ffffff; line-height: 750%; text-align: center; font-family: inherit;">
    <p style="font-size: 14px; line-height: 750%;"><strong><span style="font-family: Montserrat, sans-serif; font-size: 40px; line-height: 300px; background-color: rgba(255, 0, 0, 0.6);"><span style="line-height: 300px; font-size: 40px;">&nbsp;FORMAL MEDIA ALERT&nbsp;</span></span></strong></p>
  </div>

      </td>
    </tr>
  </tbody>
</table>

  </div>
  <!--[if mso | IE]>
  </td>
</tr></table>
                <![endif]-->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--[if mso | IE]>
      </td></tr></table>
      <![endif]-->
    </td>
  </tr>
</table>

<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="margin: 0; padding: 0">
  <tr>
    <td align="center" valign="top" bgcolor="" style="padding: 0px 10px; background-color: rgba(255,255,255,0);">
      <!--[if mso | IE]>
      <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="650" align="center" style="width:650px;"><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->
      <div style="margin:0px auto;max-width:650px;">
        <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;" align="center" border="0">
          <tbody>
            <tr>
              <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;" bgcolor="#ffffff">
                <!--[if mso | IE]>
                <table role="presentation" border="0" cellpadding="0" cellspacing="0"><tr><td style="vertical-align:top;width:650px;">
  <![endif]-->
  <div class="email-col-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;">
    
<table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
  <tbody>
    <tr>
      <td style="overflow-wrap: break-word;padding:40px 20px 10px;" align="left">
        
  <div style="color: #000; line-height: 150%; text-align: center; font-family: inherit;">
    <p style="font-size: 14px; line-height: 150%;"><span style="color: #333333; font-family: Arial, Verdana; font-size: 20px; text-align: start; line-height: 30px;">We've detected <strong>negative issues</strong> movement in the following categories:</span></p>
  </div>

      </td>
    </tr>
  </tbody>
</table>

<table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
  <tbody>
    <tr>
      <td style="overflow-wrap: break-word;padding:10px 20px;" align="left">
        
  <div style="color: #000; line-height: 150%; text-align: center; font-family: inherit;">
    <!-- <p style="font-size: 14px; line-height: 150%;"><span style="font-size: 20px; line-height: 30px;">During the webinar, Emily&nbsp;will discuss how to be</span></p>
<p style="font-size: 14px; line-height: 150%;"><span style="font-size: 20px; line-height: 30px;">effective in a demanding and competitive market.</span></p> -->
    <table align="center" width="80%" style="font-style: italic; margin-top: 50px; margin-bottom: 50px;">
      <thead>
        
      </thead>
      <tbody>
        <tr>
          <td>No.</td>
          <td>Category</td>
          <td>Tone Level</td>
          <td>Date</td>
        </tr>
      </tbody>
      <!-- <tr>
        <td>1</td>
        <td>Jatiasih</td>
        <td>Current</td>
        <td>2018-01-08</td>
      </tr> -->
      <% for(var i=0; i < categories.length; i++) { %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= categories[i].category %></td>
        <td><%= categories[i].level %></td>
        <td><%= categories[i].date %></td>
      </tr>
      <% } %>

    </table>
  </div>

      </td>
    </tr>
  </tbody>
</table>

<table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
  <tbody>
    <tr>
      <td style="overflow-wrap: break-word;padding:10px 20px;" align="left">
        
  <div style="text-align: center;">
    <div style="border-top-width: 1px; border-top-style: solid; border-top-color: #CCC; display: inline-block; width: 100%; line-height: 1px; font-size: 1px; height: 1px;">&#160;</div>
  </div>

      </td>
    </tr>
  </tbody>
</table>

<table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
  <tbody>
    <tr>
      <td style="overflow-wrap: break-word;padding:20px 20px 50px;" align="left">
        
<div align="center">
  <!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"><tr><td align="center"><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="" style="height:85px; v-text-anchor:middle; width:359px;" arcsize="59%" stroke="f" fillcolor="#f53b0c"><w:anchorlock/><center style="color:#FFF; font-family:inherit;"><![endif]-->
    <a href="" target="_blank" style="display: inline-block; text-decoration: none;-webkit-text-size-adjust: none;text-align: center;color: #FFF; background-color: #f53b0c; border-radius: 50px; -webkit-border-radius: 50px; -moz-border-radius: 50px; width: auto; padding: 20px 50px; font-family: inherit; mso-border-alt: none;">
      <span style="font-family: inherit;line-height:150%;"><strong><span style="font-size: 30px; line-height: 45px;">TURN OFF ALERT</span></strong></span>
    </a>
  <!--[if mso]></center></v:roundrect></td></tr></table><![endif]-->
</div>

      </td>
    </tr>
  </tbody>
</table>

  </div>
  <!--[if mso | IE]>
  </td>
</tr></table>
                <![endif]-->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--[if mso | IE]>
      </td></tr></table>
      <![endif]-->
    </td>
  </tr>
</table>

<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="margin: 0; padding: 0">
  <tr>
    <td align="center" valign="top" bgcolor="" style="padding: 10px; background-color: rgba(255,255,255,0);">
      <!--[if mso | IE]>
      <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="650" align="center" style="width:650px;"><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->
      <div style="margin:0px auto;max-width:650px;">
        <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;" align="center" border="0">
          <tbody>
            <tr>
              <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;" bgcolor="">
                <!--[if mso | IE]>
                <table role="presentation" border="0" cellpadding="0" cellspacing="0"><tr><td style="vertical-align:top;width:650px;">
  <![endif]-->
  <div class="email-col-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;">
    
<table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
  <tbody>
    <tr>
      <td style="overflow-wrap: break-word;padding:20px;" align="left">
        
  <div style="color: #969696; line-height: 120%; text-align: left; font-family: inherit;">
    <p style="font-size: 14px; line-height: 120%; text-align: center;">Royston Labs copyright 2018, All right reserved.</p>
<p style="font-size: 14px; line-height: 120%;">&nbsp;</p>
<p style="font-size: 14px; line-height: 120%; text-align: center;"><span style="color: #0000ff; font-size: 14px; line-height: 16.8px;">support@antara-insight.id</span></p>
  </div>

      </td>
    </tr>
  </tbody>
</table>

  </div>
  <!--[if mso | IE]>
  </td>
</tr></table>
                <![endif]-->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--[if mso | IE]>
      </td></tr></table>
      <![endif]-->
    </td>
  </tr>
</table>

  </div>
</body>

</html>
