.c-doughnut-list {
  width: 100%;
  flex: 1 0 auto;
  display: flex;
  flex-flow: row wrap;
  &.c-doughnut-list--2 {
    .c-chart.c-chart--doughnut {
      position: relative;
      width: vh(200px);
      height: vh(150px);
    }
    .c-doughnut-list__item-val {
      font-size: vh(36px);
    }
  }
}
.c-doughnut-list__item {
  width: 20%;
  padding: vh(10px) 0;
  .c-chart.c-chart--doughnut {
    position: relative;
    width: 100%;
    height: auto;
  }
}
.c-doughnut-list__item-val {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-size: vh(28px);
}
.c-doughnut-list__item-label {
  padding: vh(10px) 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
