.c-form-timeframe {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-top: vh(10px);
}

.c-form-timeframe__nav {
  width: 20%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  cursor: pointer;
  &:hover,
  &:active,
  &:focus,
  &.s-is-active {
    color: $brand-primary;
    .c-form-timeframe__img {
      display: none;
    }
    .c-form-timeframe__img-hover {
      display: inline-block;
    }
  }
}

.c-form-timeframe__icon {
  text-align: center;
  img {
    width: vw(76px);
    height: auto;
  }
}

.c-form-timeframe__img {
  display: inline-block;
}

.c-form-timeframe__img-hover {
  display: none;
}

.c-form-timeframe__text {
  width: 100%;
  text-transform: uppercase;
  margin-top: vh(30px);
  text-align: center;
}

.c-form-timeframe--small {
  .c-form-timeframe {
  }
  .c-form-timeframe__icon {
    img {
      width: vw(48px);
      height: auto;
    }
  }
  .c-form-timeframe__text {
    font-size: vh(12px);
    margin: vh(10px) 0;
  }
  .c-form-timeframe__nav {
    width: 33.33333%;
  }
}
