.c-gauge-list {
  margin: 0;
  padding: vh(40px) 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
}

.c-gauge-list__item {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 50%;
  margin: vh(20px) 0;
  flex: 1 0 auto;
  font-size: vh(15px);
}
