.c-logo {
  width: auto;
  height: auto;
  max-width: vw(155px);
  max-height: vw(25px);
  &.c-logo--client {
    width: auto;
    height: auto;
    max-width: vw(250px);
    max-height: vh(64px);
  }
}
