.c-mediaplayer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: vh(20px);
}
.c-mediaplayer__player {
  flex: 1 0 auto;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: black;
  video,
  object {
    width: 100%    !important;
    height: auto   !important;
  }
}
