.c-notification {
}
.c-notification__icon {
  position: relative;
  display: inline-block;
  width: vw(115px);
  height: vw(100px);
}

.c-notification__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 1;
}

.c-notification__img-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0;
}
