.c-post-list {
  list-style-type: none;
  padding: vh(20px) 0;
  padding-bottom: 0;
  margin: 0;
  margin-bottom: vh(20px);
  overflow: hidden;
  width: 100%;
  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: rgba(254, 254, 254, 0.10);
    }
  }
  &::-webkit-scrollbar {
    width: vh(6px);
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: vh(3px);
    background-color: rgba(254, 254, 254, 0);
  }
  &.c-post-list--2 {
    padding-top: 0;
    margin-bottom: vh(10px);
    .c-post-list__item {
      border-bottom: 0;
      margin-bottom: vh(5px);
      cursor: pointer;
      pointer-events: initial;
      &.s-active,
      &:hover,
      &:active,
      &:focus {
        color: #dc3d8b;
        .c-post__icon {
          color: #dc3d8b;
        }
        a {
          color: #dc3d8b;
        }
      }
      a {
        color: #fefefe;
      }
    }
  }
}

.c-post-list__item {
  width: 100%;
  border-bottom: vh(2px) solid rgba(254, 254, 254, 0.10);
  margin-bottom: vh(10px);
  cursor: default;
  pointer-events: none;
  &:last-child {
    border-bottom: 0;
  }
  &.s-active,
  &:hover,
  &:active,
  &:focus {
    color: color(white, base);
    //color: $brand-primary;
    .c-post__icon {
      color: color(white, base);
      //color: $brand-primary;
    }
    a {
      color: color(white, base);
      //color: $brand-primary;
    }
  }
  a {
    color: color(white, base);
    //color: #fefefe;
  }
}
