.c-post {
  font-size: vh(16px);
  display: flex;
  flex-flow: row nowrap;
  padding-bottom: vh(10px);
  &.c-post--2 {
    font-size: vh(13px);
    padding-bottom: 0;
    .c-post__date {
      width: vw(80px);
      flex: 0 0 auto;
    }
    .c-post__body {
      display: flex;
      flex: 1 1 auto;
    }
  }
}

.c-post__icon {
  flex: 0 1 auto;
  margin-right: vh(10px);
  font-size: vh(10px);
  color: #fefefe;
  .fa-inverse {
    color: #1c1737;
  }
}

.c-post__body {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 0 1 auto;
  line-height: 1.2;
}

.c-post__text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
