.c-progress-list {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  flex: 1 0 auto;
  align-items: flex-start;
}
.c-progress-list__item {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.c-progress-list__icon {
  flex: 0 1 auto;
  margin: 0 vw(10px) 0 0;
  .fa {
    //font-size: vh(18px * 1.75);
    font-size: vh(18px);
    width: vh(20px);
  }
}
.c-progress-list__bar {
  flex: 1 0 auto;
  margin: 0;
  margin-right: vw(32px);
  overflow: visible;
  .progress-bar {
    overflow: visible;
    position: relative;
  }
}
.c-progress-list__label {
  width: 100%;
  font-size: vh(8px);
  margin-bottom: vh(5px);
}
.c-progress-list__value {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  left: 100%;
  width: vw(32px);
  padding-left: vw(4px);
  padding-top: vh(1px);
  text-align: left;
  color: color(white, base);
  z-index: 10;
  font-size: vh(14px);
  line-height: vh(18px);
}
