<form name="mediatype">
    <div class="c-radio" ng-repeat="radio in $ctrl.prop.radios">
        <label>
            <!-- <input type="radio" name="mediatype-media"> -->
            <input type="radio" name="mediatype-media" ng-model="$ctrl.model" value="{{radio.value}}" ng-value="'{{radio.value}}'">
            <span class="c-radio__input">{{radio.index}}</span>
            <span class="c-radio__text">{{radio.text}}</span>
        </label>
    </div>
</form>
